body{
    max-height: 100%;
    width:10vh;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #59c2ff, #1270e3);
}

.login_form{
    height: 400px;
    width: 500px;
    background-color:white;
    margin: 200px 0px 100px 600px;
    padding: 3rem 3rem 3rem 3rem;
}

h1{
    color:dimgrey;
    text-align-last: center;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 0;
    display: block;
}

.input_submit{
    background-color:dodgerblue;
    border-radius: 3px;
    width: 23rem;
    height: 3rem;
    margin-left: 70px;
    border-width: 0;
    color: azure;
    font-weight: bold;
    text-align-last: center;
    font-size: large;
}

.login_input{
    width: 23rem;
    height: 3rem;
    margin-left: 70px;
    color: darkgray;
    text-align-last: left;
    font-size: medium;
    margin-top: 7px;
    border-radius: 3px;
    border-width: 1;
    border-style:double;
}

.login_links{
    display:flex;
    flex-direction:row;
    margin-top: 1rem;
    justify-content: space-around;
    align-items: center;
    margin-left: 1rem;
}
.login_links a{
    font-size: 14px;
    color: #1270e3;
    font-size: 1rem;
}